* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', serif !important;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding-top: 120px;
    padding-bottom: 60px;
}

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: #ff2b45;
}

img {
    max-width: 100%;
    height: auto;
}

#trans {
    transition: all 0.1s linear;
}

#trans:hover {
    opacity: 0.8;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 15px 0;
    z-index: 1000;
}

.header img {
    max-height: 85px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.album {
    text-align: center;
}

.streamingi {
    text-align: center;
    margin: 30px auto;
}

.streamingi img {
    max-height: 40px;
    width: auto;
}

.odstepy {
    padding-right: 10px;
    padding-left: 10px;
}

.releases {
    text-align: center;
    font-size: 18px;
    margin: 40px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px; /* Dodaj wysokość, aby upewnić się, że tekst ma miejsce */
    overflow: visible; /* Zapewnia, że nie będzie przycinany */
}

.releases a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding-top: 10px;
    display: inline-block;
    margin-top: 20px;
    line-height: 1.5; /* Ustawienie odpowiedniej wysokości linii */
}

.releases a:hover {
    color: #FFFF8F;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 10px 0;
    color: #888;
}

.footer p {
    margin: 2px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #888;
}

.footer img {
    max-height: 75px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    body {
        font-size: 16px;
        padding-top: 100px;
    }

    a {
        font-size: 16px;
    }

    .releases {
        font-size: 16px;
        height: 50px; /* Zmniejszenie wysokości, aby dostosować do mniejszych ekranów */
    }

    .streamingi {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .streamingi img {
        max-height: 30px;
    }

    .footer {
        padding: 8px 0;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
        padding-top: 80px;
    }

    .releases a {
        font-size: 14px;
        margin-top: 15px;
    }

    .footer p {
        font-size: 10px;
    }
}
